{
  "bind_backend": "0.0.0.0:9000",
  "workers_backend": 10,
  "api_version": "v1",
  "log_level": "debug",
  "pg_connection": 5,
  "pq_sql_lib": "/SQL",
  "redis_url": "redis://127.0.0.1:6379",
  "redis_session": 2592000,
  "jwt_access_key": "<KEY>",
  "jwt_access_session_min": 120,
  "jwt_refresh_key": "<KEY>",
  "jwt_refresh_session_day": 365,
  "rsa_pri": "/rsa_key",
  "rsa_pub": "/rsa_key.pub",
  "google_client_id": "",
  "google_client_secret": "",
  "google_redirect": "http://localhost:9000/google/callback",
  "google_auth_url": "https://accounts.google.com/o/oauth2/v2/auth?response_type=code&scope=openid%20email%20profil&",
  "google_token_url": "https://oauth2.googleapis.com/token",
  "google_userinfo_url": "https://www.googleapis.com/oauth2/v2/userinfo"
}
