rust-web/target/*
rust-web/.env
rust-web/config.json
rust-web/config.docker.json
rust-web/server.crt
rust-web/rsa_key
rust-web/rsa_key.pub
rust-web/Cargo.lock
**/._*
**/.nfs*
**/dist
**/target
**/server.crt
